
.App {

}
.MuiAutocomplete-root {
  width: 100% !important;
}

.MuiOutlinedInput-root {
  font-size: 1.1rem !important;
  font-weight: bold !important;
  color: rgb(107, 114, 128) !important;
}

.MuiOutlinedInput-root fieldset{
  border-color: gray !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset{
  border-color: #7e5bef !important;
}
.MuiInputLabel-root.Mui-focused{
  color: #7e5bef !important;
}
.MuiInputBase-root.MuiInput-root::after{
  border-color: #7e5bef !important;
}

i {
  position: absolute;
  top: 55%;
  right: 10%;
}
i:hover {
  color: rgb(107,33,168);
  cursor: pointer;
}
li {
  list-style: none;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.react-select-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 30%;
  z-index: 100;
  /*border: 1px solid purple !important;!*do screena*!*/
  /*border-radius: 4px;!*do screena*!*/
  /*box-shadow: 0 0 0 1px purple !important;!*do screena*!*/
}
.react-select-container-onMobile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /*margin-left: 5%;*/
  z-index: 100;
}
.react-select__control {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(107,33,168) !important;
}
/**/
.react-select__control:hover, .react-select__control:focus,.react-select__control:focus-within   {
  border: 2px solid rgb(107,33,168) !important;
  box-shadow: 0 0 0 1px rgb(107,33,168) !important;
}
.toastify__progress-bar--success {
  color: rebeccapurple;
}
.toast-success {
  background-color: #d813c8 !important;
}

/*style do komponentu cropImages*/
.crop-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85%;
  margin-top: 1em;

}
.crop {
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: 80px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}
slider {
  padding: 22px 0px;
}
.modal-info {
  z-index: 2000 !important;
  width: 25% !important
}
.addCategoryModal{
    max-width: 28rem!important;
}
div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f8fbff;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: purple ;/*#9fa9bd*/
  border-radius: 5px;
}
div::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 5px;
}


.wrapper {
  display: inline-flex;
  flex-direction: column;
}

.button {
    margin: 20px 0px 0px 0px;
    border: 1px solid #2185d0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    width: 140px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*.spinner {*/
/*  z-index: 1000;*/
/*  background-color: white;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 0;*/
/*  right: 0;*/
/*  margin: 0 auto;*/
/*  width: 50%;*/
/*  height: 50%;*/
/*}*/
.loader {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
}

.spinner {
    margin: 0 auto;
    animation: Rotate 2.4s both infinite linear;
}

.path {
    animation: DrawLine 1.6s both infinite alternate linear;
    fill: none;
    stroke: rebeccapurple;
    stroke-width: 50;
}

@keyframes Rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes DrawLine {
    0% {
        stroke-dasharray: 0 126;
    }
    100% {
        stroke-dasharray: 126 126;
    }
}
