
.App {

}
.MuiAutocomplete-root {
  width: 100% !important;
}

.MuiOutlinedInput-root {
  font-size: 1.1rem !important;
  font-weight: bold !important;
  color: rgb(107, 114, 128) !important;
}

.MuiOutlinedInput-root fieldset{
  border-color: gray !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset{
  border-color: #7e5bef !important;
}
.MuiInputLabel-root.Mui-focused{
  color: #7e5bef !important;
}
.MuiInputBase-root.MuiInput-root::after{
  border-color: #7e5bef !important;
}

i {
  position: absolute;
  top: 55%;
  right: 10%;
}
i:hover {
  color: rebeccapurple;
  cursor: pointer;
}
li {
  list-style: none;
}
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.react-select-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /*border: 1px solid purple !important;!*do screena*!*/
  /*border-radius: 4px;!*do screena*!*/
  /*box-shadow: 0 0 0 1px purple !important;!*do screena*!*/
}

.react-select__control {
  width: 100%;
  height: 100%;
}
/**/
.react-select__control:hover, .react-select__control:focus,.react-select__control:focus-within   {
  border: 2px solid purple !important;
  box-shadow: 0 0 0 1px purple !important;
}
.Toastify__progress-bar--success {
  color: rebeccapurple;
}
.toast-success {
  background-color: #d813c8 !important;
}

/*style do komponentu cropImages*/
.crop-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85%;
  margin-top: 1em;

}
.crop {
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  bottom: 80px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}
slider {
  padding: 22px 0px;
}
.modal-info {
  z-index: 2000 !important;
  width: 25% !important
}
.addCategoryModal{

}